NODE_ENV=development || production
DATABASE_URL=YOUR_DB_URL
DATABASE_USER=YOUR_DB_USER
DATABASE_PORT=YOUR_DB_PORT
DATABASE_PASSWORD=YOUR_DB_PASSWORD
DATABASE_NAME=YOUR_DB_NAME
JWT_SECRET=YOUR_JWT_SECRET
FRONTEND_URL=YOUR_FRONTEND_URL